body {
  background: url(../images/bg.jpg) #503228;
  text-align: center;
  margin: 0 auto;
}

.container {
  width: 870px;
  margin: 0 auto;
  background: #01574D;
  overflow: hidden;
}

.card {
  background-size: 252px 365px;
  background-position: -2px;
  box-sizing: border-box;
  border: 2px solid black;
  width: 250px;
  height: 363px;
  float: left;
  margin: 20px;
  border-radius: 13px;
}

.fixed {
  border: 2px solid yellow;
}

.fix {
  box-sizing: border-box;
  border: 2px solid black;
  width: 250px;
  height: 40px;
  line-height: 40px;
  float: left;
  background: yellow;
  margin: 0 20px;
}

.roll {
  display: inline-block;
  line-height: 40px;
  background: red;
  width: 830px;
  box-sizing: border-box;
  border: 2px solid black;
  margin: 20px;
  overflow: hidden;
}

.controls {
  font-size: 20px;
}
