body {
  background-color: #fafafa;
  text-align: center;
  margin: 0 auto;
}

.container {
  width: 870px;
  margin: 0 auto;
  background: white;
}

.card {
  box-sizing: border-box;
  border: 2px solid black;
  width: 250px;
  height: 363px;
  float: left;
  margin: 20px;
}

.fixed {
  border: 2px solid yellow;
}

.fix {
  box-sizing: border-box;
  border: 2px solid black;
  width: 250px;
  height: 40px;
  line-height: 40px;
  float: left;
  background: yellow;
  margin: 0 20px;
}

.roll {
  display: inline-block;
  line-height: 40px;
  background: red;
  width: 830px;
  box-sizing: border-box;
  border: 2px solid black;
  margin: 20px;
  overflow: hidden;
}
